body {
  font-family: Arial, sans-serif;
  font-size: 0.8rem;
  width: 300px;
  color: #282828;
}
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header h1 {
  font-size: 1rem;
}
.checkbox {
  display: flex;
  align-items: center;
}
input[type='checkbox'] {
  accent-color: red;
  vertical-align: middle;
}
